 File has been used for this event: gossi.WordPress.2021-03-02.xml<br/>
 Type of the imported file: xml<br/>
 Mode of event: Insert<br/>
 Total no of records: 1<br/>
 Rows handled on each iterations (Based on your server configuration): 1<br/>
 File used to import data into: Posts<br/>
