/**
	Theme Name: Goya Child Theme
	Description: This is a child theme of Goya.
	Template: goya
	Version: 1.0
	Author: Everthemes
	Author URI: http://themeforest.net/user/luisvelaz
	Tags: responsive-layout, flexible-header, custom-colors, mega-menu, woocommerce, shop, ajax, page-builder, translation-ready, gutenberg
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

.alert_container {
	margin-top:20px;
}
.alert_container .stock_alert_button {
	height:54px;
	color:#ffffff !important;
	border:none !important;
	padding:.375rem 1.5rem;
}

.checkout_coupon {
	display: block !important;
}

.product-title h2 {
	text-transform: uppercase !important;
}
.products .badge {
	background:#ef5c5c !important;
	color:#ffffff !important;
	top:0 !important;
	left:0 !important;
	font-size:1rem !important;
	font-weight:bold !important;
	border-radius:0 !important;
	padding:.375rem 1rem !important;
}