<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Añade aquí tu código CSS.

Por ejemplo:
.ejemplo {
    color: red;
}

Para mejorar tu conocimiento sobre CSS, echa un vistazo a https://www.w3schools.com/css/css_syntax.asp

Fin del comentario */ 

.free-shipping-active input {
	display:none;
}
.free-shipping-active input:checked {
	display:block;
}</style>
<!-- end Simple Custom CSS and JS -->
