<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Añade aquí tu código CSS.

Por ejemplo:
.ejemplo {
    color: red;
}

Para mejorar tu conocimiento sobre CSS knowledge echa un vistazo a http://www.w3schools.com/css/css_syntax.asp

Fin del comentario */ 

/** IMAGEN CATEGORIA JEANS **/
/**.term-82 .regular-title, .page-id-9235 .regular-title {
  padding: 25vh 0;
  background-color: #000000;
  background-image: url("https://gossi.com.ar/wp-content/uploads/2021/03/Back-Jeans-3-min.png");
  background-position: center;
  background-size: cover;
}**/

.term-82 .page-padding {
  padding-top: 0px;
}

/**.term-82 h1.et-shop-title.woocommerce-products-header__title.page-title,
.page-id-9235 .page-header .page-title {
  font-size: 5em;
  color: white;
  text-shadow: 1px 1px 40px #000;
}**/

@media only screen and (max-width: 600px) {
  .term-82 h1.et-shop-title.woocommerce-products-header__title.page-title {
  font-size: 3em;
}
  .term-82 .regular-title {
  padding: 15vh 0;
}
}

/** IMAGEN CATEGORIA REMERAS **/
/**.term-90 .regular-title {
  padding: 25vh 0;
  background-color: #000000;
  background-image: url("https://gossi.com.ar/wp-content/uploads/2021/03/Back-Remeras.jpg");
  background-position: center;
  background-size: cover;
}**/

.term-90 .page-padding {
  padding-top: 0px;
}

/**.term-90 h1.et-shop-title.woocommerce-products-header__title.page-title {
  font-size: 5em;
  color: white;
  text-shadow: 1px 1px 40px #000;
}**/

@media only screen and (max-width: 600px) {
  .term-90 h1.et-shop-title.woocommerce-products-header__title.page-title {
  font-size: 3em;
}
  .term-90 .regular-title {
  padding: 15vh 0;
}
}

/** IMAGEN CATEGORIA CAMPERAS **/
/**.term-89 .regular-title {
  padding: 25vh 0;
  background-color: #000000;
  background-image: url("https://gossi.com.ar/wp-content/uploads/2021/03/Camperas-Gossi.jpeg");
  background-position: center;
  background-size: cover;
}**/

.term-89 .page-padding {
  padding-top: 0px;
}

/**.term-89 h1.et-shop-title.woocommerce-products-header__title.page-title {
  font-size: 5em;
  color: white;
  text-shadow: 1px 1px 40px #000;
}**/

@media only screen and (max-width: 600px) {
  .term-89 h1.et-shop-title.woocommerce-products-header__title.page-title {
  font-size: 3em;
}
  .term-89 .regular-title {
  padding: 15vh 0;
}
}

/** IMAGEN CATEGORIA TUNICAS **/
/**.term-73 .regular-title {
  padding: 25vh 0;
  background-color: #000000;
  background-image: url("https://gossi.com.ar/wp-content/uploads/2021/03/Back-Tunica.jpg");
  background-position: center;
  background-size: cover;
}**/

.term-73 .page-padding {
  padding-top: 0px;
}

/**.term-73 h1.et-shop-title.woocommerce-products-header__title.page-title {
  font-size: 5em;
  color: white;
  text-shadow: 1px 1px 40px #000;
}**/

@media only screen and (max-width: 600px) {
  .term-73 h1.et-shop-title.woocommerce-products-header__title.page-title {
  font-size: 3em;
}
  .term-73 .regular-title {
  padding: 15vh 0;
}
}

/** IMAGEN TIENDA **/
/**.post-type-archive-product .regular-title {
  padding: 25vh 0;
  background-color: #ffffff;
  background-image: url("https://gossi.com.ar/wp-content/uploads/2021/03/img-home2-min.jpg");
  background-position: center;
  background-size: cover;
}**/

.post-type-archive-product .page-padding {
  padding-top: 0px;
}

@media only screen and (max-width: 600px) {
  .post-type-archive-product .regular-title {
  padding: 15vh 0;
}
}
</style>
<!-- end Simple Custom CSS and JS -->
