<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Añade aquí tu código CSS.

Por ejemplo:
.ejemplo {
    color: red;
}

Para mejorar tu conocimiento sobre CSS knowledge echa un vistazo a http://www.w3schools.com/css/css_syntax.asp

Fin del comentario */ 

@font-face {
font-family: "Now Light";
src: url("https://gossi.com.ar/wp-content/uploads/2021/03/now.light_.otf") format("opentype");
}

@font-face {
font-family: "Now Regular";
src: url("https://gossi.com.ar/wp-content/uploads/2021/03/now.regular.otf") format("opentype");
}

@font-face {
font-family: "Now Medium";
src: url("https://gossi.com.ar/wp-content/uploads/2021/03/now.medium.otf") format("opentype");
}

@font-face {
font-family: "Now Bold";
src: url("https://gossi.com.ar/wp-content/uploads/2021/03/now.bold_.otf") format("opentype");
}

@font-face {
font-family: "Now Black";
src: url("https://gossi.com.ar/wp-content/uploads/2021/03/now.black_.otf") format("opentype");
}

h1 {
  font-family: "Now Medium" !important;
}

h2 {
  font-family: "Now Medium" !important;
}

h3 {
  font-family: "Now Medium" !important;
}

h4 {
  font-family: "Now Medium" !important;
}

h5, h6 {
  font-family: "Now Medium" !important;
}

.et-header-menu > li {
  font-family: "Now";
}

p {
  font-family: "Now Light";
}

.widget ul li.menu-item a {
  font-family: "Now";
}

.footer-bar .footer-bar-content {
  font-family: "Now";
}

.et-banner .et-banner-link.color-light.solid {
  font-family: "Now";
}

.et-product-detail .summary .sizing_guide {
  font-family: "Now";
}

.et-product-detail .summary h1.product_title {
  font-family: "Now Medium" !important;
}

.shop_bar button {
  font-family: "Now";
}

.et-testimonials-slider blockquote p {
  font-family: "Now Medium" !important;
}</style>
<!-- end Simple Custom CSS and JS -->
