<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.alert_container {
  margin-top:20px;
}
.alert_container .stock_alert_button {
  height:54px;
  color:#ffffff !important;
}

</style>
<!-- end Simple Custom CSS and JS -->
