<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.link-wsp {
  position:fixed;
  bottom:13%;
  right:1%;
  display:none;
  align-items:center;
  justify-content:center;
  background-color:#25d366;
  width:50px;
  height:50px;
  border-radius:7rem;
  z-index:50;
}
.link-wsp svg {
  fill:#fff;
}

</style>
<!-- end Simple Custom CSS and JS -->
