<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.unique-button {
    position:fixed;
    bottom:25%;
    right:-1%;
    width:110px;
    display:none;
    align-items:center;
    justify-content:center;
    z-index:9999;
    cursor:pointer;
}

.page-id-7271 .unique-button, 
.page-id-7312 .unique-button {
	display:none !important;
}

</style>
<!-- end Simple Custom CSS and JS -->
