				@font-face {
					font-family: 'nowbold';
					src: url('/wp-content/uploads/useanyfont/917NowBold.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/917NowBold.woff') format('woff');
				}

				.nowbold{font-family: 'nowbold' !important;}

				.et_gf_nowbold{background:none !important;font-family:nowbold;text-indent:0 !important;font-size:25px;}

		