				@font-face {
					font-family: 'nowbold';
					src: url('/wp-content/uploads/useanyfont/917NowBold.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/917NowBold.woff') format('woff');
					font-display: auto;
				}

				.nowbold{font-family: 'nowbold' !important;}

						h1, h2, h3{
					font-family: 'nowbold' !important;
				}
		